<section id="about" class="about">

  <div class="about-image">
   <img src="assets/images/about.jpg" alt="About">
  </div>

  <div class="about-content">

    <p class="tag">
      OUR STORY
    </p>

    <h2>
      Brewing Happiness,<br>
      One Cup at a Time
    </h2>

    <p class="description">
      At Brew Haven, every cup is crafted with carefully selected beans,
      experienced baristas and a passion for creating unforgettable coffee
      experiences in the heart of Bengaluru.
    </p>

    <div class="features">

      <div class="feature">
        <span>☕</span>
        <p>Freshly Roasted Beans</p>
      </div>

      <div class="feature">
        <span>🥐</span>
        <p>Fresh Bakery Everyday</p>
      </div>

      <div class="feature">
        <span>🌿</span>
        <p>Organic Ingredients</p>
      </div>

      <div class="feature">
        <span>❤️</span>
        <p>Cozy & Relaxing Space</p>
      </div>

    </div>

    

  </div>

</section>