<section id="testimonials" class="testimonials">

  <div class="heading">

    <p class="tag">TESTIMONIALS</p>

    <h2>What Our Customers Say</h2>

    <p class="subtitle">
      Loved by coffee enthusiasts across Karnataka & Andhra Pradesh.
    </p>

  </div>

  <div class="testimonials-grid">

    <div class="testimonial-card">

      <p class="quote">
        “Best café experience in Indiranagar. The espresso is strong, rich and perfectly brewed every time.”
      </p>

      <div class="person">
        <div class="avatar">IG</div>
        <div>
          <h4> Ishika Gowda</h4>
          <span>Bengaluru, KA</span>
        </div>
      </div>

    </div>

    <div class="testimonial-card">

      <p class="quote">
        “Caramel latte here is amazing. I come every weekend with my friends from Whitefield.”
      </p>

      <div class="person">
        <div class="avatar">AR</div>
        <div>
          <h4>Anshi Reddy</h4>
          <span>Vizag, AP</span>
        </div>
      </div>

    </div>

    <div class="testimonial-card">

      <p class="quote">
        “Super cozy ambience. Cold brew is top quality and pricing is very reasonable.”
      </p>

      <div class="person">
        <div class="avatar">VS</div>
        <div>
          <h4>Vivek Shetty</h4>
          <span>Bengaluru, KA</span>
        </div>
      </div>

    </div>

  </div>

</section>