.menu{
    padding:110px 8%;
    background:#111;
}

.heading{
    text-align:center;
    margin-bottom:60px;
}

.tag{
    color:#C89B3C;
    letter-spacing:4px;
    font-size:14px;
    text-transform:uppercase;
    margin-bottom:10px;
}

.heading h2{
    font-size:48px;
    margin-bottom:15px;
}

.subtitle{
    color:#9b9b9b;
    max-width:650px;
    margin:auto;
    line-height:1.7;
}

.menu-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:30px;
}

.menu-card{
    background:#181818;
    border:1px solid rgba(255,255,255,.08);
    border-radius:22px;
    overflow:hidden;
    transition:.35s;
}

.menu-card:hover{
    transform:translateY(-8px);
    border-color:#C89B3C;
}

.menu-card img{
    width:100%;
    height:240px;
    object-fit:cover;
}

.content{
    padding:24px;
}

.title-price{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:12px;
}

.title-price h3{
    font-size:22px;
}

.title-price span{
    color:#C89B3C;
    font-weight:700;
}

.content p{
    color:#a7a7a7;
    line-height:1.6;
}